
.dashboard-container {
    height: 100%;
    background-image: url('/assets/img/backgrounds/sfondo_neon.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}